body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #f2f1f1;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 33px;
  padding: 20px;
}

.dropdown {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.dropdown summary {
  color: white;
  text-decoration: none;
  margin: 0 40px;
  font-size: 33px;
}

.dropdown-list {
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  display: block;
}

.dropdown-list li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
}

.dropdown-list li a:hover {
  background-color: #f0f0f0;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 700px;
  font-size: 30px;
  margin-right: 20px;
}

.login-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-color: rgb(255, 255, 255);
  width: 150px;
  border-radius: 40px;
  font-size: 30px;
  cursor: pointer;
}

.main-section {
  text-align: left;
  padding: 0;
}

.intro-text h1 {
  font-size: 90px;
  font-weight: 40px;
  margin-top: 70px;
  margin-left: 70px;
  line-height: 60px;
  font-weight: bold;
}

.intro-text p {
  font-size: 35px;
  margin-bottom: 100px;
  margin-left: 70px;
  line-height: 0%;
}

.main-image {
  width: 100%;
  max-width: 1400px;
  margin: 100px 0;
  position: fixed;
  top: 100px;
  right: 20px;
}

.cta {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 20px;
}

.email-bar {
  padding: 10px;
  border-radius: 0;
  border: 1px solid #ccc;
  width: 870px;
  padding: 50px;
  font-size: 30px;
  margin-left: 70px;
}

.get-started-button {
  background-color: black;
  color: white;
  width: 300px;
  padding: 50px 0;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.payment-icons {
  width: 100%;
  max-width: 1350px;
  margin-top: -80px;
  margin-left: 70px;
}

.next-page {
  width: 100%;
  max-width: 100px;
  margin: 45px 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.next-page {
  width: 100%;
  max-width: 100px;
  margin: 45px 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

