body, html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: #f2f1f1;
}

/* Main container */
.frame-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.h1 {
  font-size: 100px;
  font-weight: 40px;
  position: absolute; 
  right: 50px;
 
}
.h2{
  font-size: 20px;
  font-weight: 50px;
  padding-top: 700px;
  margin-bottom: 22px;
  text-align: center; 
}
/* Form styling */
.form-container {
  background: #ffffff;
  border: 1px solid #000000;
  width: 1200px;
  height: 700px ;
  padding: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
  display: block;
  font-size: 30px;
  color: #000000;
  margin: 15px 0 5px;
}

.input-box {
  width: 95%;
  height: 60px;
  border: 1px solid #000000;
  padding: 20px;
  box-sizing: content-box;
  font-size: 14px;
  
}

.input-box:focus {
  outline: none;
  border: 1px solid #666;
  cursor: text;
  font-size: 30px;
}

.login-button {
  width: 150px;
  height: 100px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 30px;
  text-align: center;
  position: fixed;
  bottom: 280px;
  right: 750px;
}

.login-button:hover {
  background-color: #333333;
}
