body {
  font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f2f1f1;
    color: #000;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    color: white;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 33px;
    padding: 20px;
  }
  
  /* Dropdown container styling */
  .dropdown {
    display: inline-block;
    margin-right: 20px; /* Adds spacing between items */
    position: relative;
  }
  
  .dropdown summary {
    color: white;
    text-decoration: none;
    margin: 0 40px;
    font-size: 33px;
  }
  
  .dropdown-list {
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    display: block;
  }
  
  .dropdown-list li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
  }
  
  .dropdown-list li a:hover {
    background-color: #f0f0f0;
  }
  
  .nav-actions {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: 700px;
    font-size: 30px;
    margin-right: 20px;
  }
  
  .login-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-color: rgb(255, 255, 255);
    width: 150px;
    border-radius: 40px;
    font-size: 30px;
    cursor: pointer;
  }
  .main-section {
    text-align: center;
    padding: 10px;
  }
  
  .intro-text h1 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .rectangle-3 {
    background: rgba(255, 255, 255, 0.5);
    width: 2703px;
    height: 507px;
    position: absolute;
    left: 10px;
    top: 433px;
  }
  
  .courses-icon {
    width: 352px;
    height: 261px;
    position: absolute;
    left: 610px;
    top: 488px;
    object-fit: cover;
  }
  .summary-icon {
    width: 266px;
    height: 283px;
    position: absolute;
    left: 1229px;
    top: 466px;
    object-fit: cover;
  }
  .links-icon {
    width: 252px;
    height: 252px;
    position: absolute;
    left: 1770px;
    top: 497px;
    object-fit: cover;
  }
  .advice-icon {
    width: 283px;
    height: 300px;
    position: absolute;
    left: 2300px;
    top: 473px;
    object-fit: cover;
  }
  .exams-icon {
    width: 225px;
    height: 223px;
    position: absolute;
    left: 130px;
    top: 507px;
    object-fit: cover;
  }
  .exams {
    color: #000000;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 797px;
    width: 356px;
    height: 92px;
  }
  .courses {
    color: #000000;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 563px;
    top: 805px;
    width: 437px;
    height: 90px;
  }
  .summaries {
    color: #000000;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 1216px;
    top: 801px;
    width: 441px;
    height: 92px;
  }
  .links {
    color: #000000;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 1830px;
    top: 806px;
    width: 264px;
    height: 107px;
  }
  .advice {
    color: #000000;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 2225px;
    top: 797px;
    width: 411px;
    height: 96px;
  }
  .rectangle-2 {
    background: #000000;
    width: 2157px;
    height: 130px;
    position: absolute;
    left: 3px;
    top: 2px;
  }
  .ressources {
    color: #ffffff;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 636px;
    top: 46px;
    width: 258px;
    height: 42px;
  }
  .next-page {
    width: 100%;
    max-width: 100px;
    margin: 45px 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .before-page {
    width: 100%;
    max-width: 100px;
    margin: 45px 0;
    position: fixed;
    bottom: 10px;
    right: 150px;
  }
  

  
  